*{
	margin: 0px;
	padding: 0px;
	
}

@font-face{
	src: url("../../fonts/Montserrat-Light.ttf");
	font-family: mont;
}

@font-face{
	src: url("../../fonts/Raleway-MediumItalic.ttf");
	font-family: rale;
}
body{
	background-image: url("../../images/bg.webp");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}

.explore{

	height: 2500px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

.explore_content{
	background-color: green;
 	height: 100%;
  width: 70%;
  margin: 10px;
	text-align: center;
}

.explore_content h1{
	font-family: rale;
}

.explore_content h3{
	font-family: mont;
	margin: 5px;
}

/* planets page start */
.planets{
	background-image: url(../../images/pl.webp);
	background-size: 100% 90%;
	height: 200%;
  width: 70%;
  margin: 10px;
	position: relative;
}

.planets .text{
	text-align: center;
	font-family: mont;
	background-color: yellow;
	height: 50px;
	width: 100%;
	position: absolute;
	bottom: 0px;
}
/* planets page end */

/* rockets page start */

.rockets{
	background-image: url(../../images/rc.webp);
	background-size: 100% 90%;
	height: 200%;
  width: 70%;
  margin: 10px;
	position: relative;
}

.rockets .text{
	text-align: center;
	font-family: mont;
	background-color: yellow;
	height: 50px;
	width: 100%;
	position: absolute;
	bottom: 0px;
}
/* rockets page end*/

/* satellite page start */

.satellite{
	background-image: url(../../images/st.webp);
	background-size: 100% 90%;
	height: 200%;
  width: 70%;
  margin: 10px;
	position: relative;
  }

.satellite .text{
	text-align: center;
	font-family: mont;
	background-color: yellow;
	height: 50px;
	width: 100%;
	position: absolute;
	bottom: 0px;
}

/* satellite page end */

/* space object page start */

.space_obj{
	background-image: url(../../images/so.webp);
	background-size: 100% 90%;
	height: 200%;
  width: 70%;
  margin: 10px;
	position: relative;
}

.space_obj .text{
	text-align: center;
	font-family: mont;
	background-color: yellow;
	height: 50px;
	width: 100%;
	position: absolute;
	bottom: 0px;
}
/* space object page start */

/* space object page start */
.blackhole{
	background-image: url(../../images/bl.webp);
	background-size: 100% 90%;
	height: 200%;
  width: 70%;
  margin: 10px;
	position: relative;
}

.blackhole .text{
	text-align: center;
 	font-family: mont;
 	background-color: yellow;
 	height: 50px;
 	width: 100%;
 	position: absolute;
 	bottom: 0px;
}
/* space object page end */
