*{
	margin: 0px;
	padding: 0px;
}

.explore{
	background-color: red;
	height: 2500px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

.explore_content{
	background-color: green;
 	height: 100%;
    width: 70%;
    margin: 10px;

}

.planets{
	background-color: yellow;
	height: 200%;
    width: 70%;
    margin: 10px;
}

.rockets{
	background-color: orange;
	height: 200%;
    width: 70%;
    margin: 10px;
}

.satellite{
	background-color: grey;
	height: 200%;
    width: 70%;
    margin: 10px;
  }

.space_obj{
	background-color: blue;
	height: 200%;
    width: 70%;
    margin: 10px;
}

.blackhole{
	background-color: pink;
	height: 200%;
    width: 70%;
    margin: 10px;
}
